@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.btn {
  position: relative;;
  right:0;
  padding: 0.4rem;
  width: 7rem;
  background: green;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  outline:none;
  cursor:pointer;
   /* height:20vh; */
   margin-top: 45%;
   margin-left: 45%;
   align-items: center;
}
.first{
  
  /* border-color:#36383f;   */
  border-width: 2px;  
  border-style: inset;  
  
}
.second  {
 
  /* border-color:#36383f;   */
  border-width: 2px;  
  border-style: inset;  

}


.btn:hover{
   color:white;
   background: green;
   /* height:90vh; */
}


.main-editor {
  background: rgba(250, 250, 250, 0.91);
  display: flex;
  width: 100%;
  padding: 0rem;
  /* box-shadow:0 0px 0px black; */
  position:fixed;
  height:90vh;
justify-content: center;
align-items: center;
  /* border: 7px solid #36383f; */
}

  


.first {
  background-color: #ffffff;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre;
  box-shadow: 0 1px 1px rgb(22, 22, 22);
  outline: none;
  padding: 0.4rem;
  height: 90vh;
}

.second {
  background-color: rgb(255, 255, 255);
  width: 50%;
  overflow-y: auto;
  white-space: pre;
  right: 0;
  box-shadow: 0 1px 1px rgb(22, 22, 22);
  padding: 0.4rem;
  height: 90vh;
}